/* в данных примерах используются теги, но все тоже самое работает и с классами!!! */

/* если ты хочешь точно указать, что стилизируемый элемент должен быть потомком другого
без каких либо дополнительных вложений, то между тэгом родителя и потомка ставится знак > */

ul li > span {
    font-size: 40px;
}

/* все последующие элементы li изменят свой цвет, кроме первого */

ul li + li {
    color: aqua;
}

/* ко всем тегам p после br будут применены указанные стили*/
br ~ p {
    font-size: 30px;
}

/* можно стилизовать по атрибуту (теперь к a с атрибутом target будут применяться стили)*/
a[target] {
    background-color: yellow;
}

/* еще точнее */
a[target="_blank"] {
    background-color: green;
}

/* если указать ^ перед знаком = то будет с начала строки */
a[href^="http://123"] {
    background-color: blue;
}

/* если указать $ перед знаком = то проверка будет с конца строки */
a[href$="jpg"] {
    background-color: red;
}

/* если указать * перед знаком = то проверка будет на наличие символов*/
a[href*="http"] {
    font-size: 30px;
}


