body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    transition: all 1s ease;
    
}

img:hover {
    transform: rotate(90deg);
    /* transform: scale(0.2, 1.2); */
    /* transform: scaleX(0.2); */
    /* transform: scaleY(1.2); */
    /* transform: scale(1.2); */
    /* transform: translate(-50px, -80px); */
    /* transform: translateX(50px); */
    /* transform: translateY(80px); */
    /* transform: skew(0, 45deg); */
    /* transform: skewX(45deg); */
    /* transform: skewY(45deg); */
    /* transform: rotate(10deg) scale(1.2) skew(10deg); */


}