.wrapper {

    /* auto-fill Вместо того, чтобы указывать количество колонок и сколько раз им повторяться, 
    мы просто можем сказать браузеру, 
    чтобы он уместил как можно больше колонок с учетом указанной длины. */

    /* 
        auto-fit будет вести себя почти как auto-fill, 
        но если есть только одна строка и есть место для дополнительных колонок, 
        но нет элементов, которые можно вставить эти колонки, 
        то тогда он сделает ширину пустых колонок равную нулю. 
        А если выставить максимальную ширину колонок на 1fr, 
        то браузер разделит оставшееся место поровну между ними.
    */

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, auto));
    border: 1px solid black;
    grid-gap: 10px;
    height: 100vh;
}



.grid-item1 {
    background-color: #BF3F3F;
    
}

.grid-item2 {
    background-color: #BF7F3F;
    
}

.grid-item3 {
    background-color: #3F7FBF;
   
}

.grid-item4 {
    background-color: #7FBF3F;
    
}

.grid-item5 {
    background-color: #BF3F7F;
    
}

.grid-item6 {
    background-color: #1BB01B;
    
}

.grid-item7 {
    background-color: #F82020;
    
}

.grid-item8 {
    background-color: #ffff00;
    
}

.grid-item9 {
    background-color: #003366;
    
}

.grid-item10 {
    background-color: #9999ff;
    
}

.grid-item11 {
    background-color: #ff66ff;
    

}
